footer {
  background-color: $color-grey-dark-3;
  padding: 10rem 0;
  font-size: 1.4rem;

  @include respond(tab-port) {
    padding: 8rem 0;
  }

  .footer-logo {
    width: 20rem;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-bottom: 8rem;

    @include respond(tab-port) {
      padding-bottom: 6rem;
    }
  }

  .navigation {
    list-style: none;
    padding-top: 2rem;
    border-top: 1px solid $color-grey-dark;
    display: inline-block;

    @include respond(tab-port) {
      width: 100%;
      text-align: center;
    }
  }

  .footer-item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  .footer-link {
    &:link,
    &:visited {
      color: $color-grey-light-1;
      background-color: $color-grey-dark-3;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      color: $color-primary;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
      transform: rotate(5deg) scale(1.3);
    }
  }

  .copyright {
    color: $color-grey-light-1;
    font-size: 1.3rem;
    padding-top: 2rem;
    border-top: 1px solid $color-grey-dark;
    width: 85%;
    float: right;

    @include respond(tab-port) {
      width: 100%;
      float: none;
    }
  }
}
