@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 2rem; }

.header-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 3.5rem;
  text-transform: uppercase;
  text-align: center; }
  .header-box h1 {
    color: #fff;
    backface-visibility: hidden;
    margin-bottom: 6rem; }
    .header-box h1 .main-heading {
      display: block;
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 3.5rem;
      animation: moveInLeft 1s ease-out; }
    .header-box h1 .sub-heading {
      display: block;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 1.75rem;
      animation: moveInRight 1s ease-out; }

h2 {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }
  h2:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

h3 {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

p {
  font-size: 1.6rem; }
  p:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-txt {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; }
  .bg-video video {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn:link, .btn:visited {
  font-size: 1.6rem;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  position: relative;
  border-radius: 5rem;
  transition: all 0.2s; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn-white {
  background-color: #fff;
  color: #777; }
  .btn-white::after {
    background-color: #fff; }

.btn-green {
  background-color: #55c57a;
  color: #fff; }
  .btn-green::after {
    background-color: #fff; }

.btn-animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn-txt:link, .btn-txt:visited {
  color: #55c57a;
  font-size: 1.6rem;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px 8px;
  transition: all .2s; }

.btn-txt:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-txt:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card .side {
    height: 52rem;
    width: 100%;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    transition: all 0.8s ease; }
    .card .side-front {
      background-color: #fff; }
    .card .side-back {
      transform: rotateY(180deg); }
      .card .side-back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card .side-back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card .side-back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
    .card .side .picture {
      height: 23rem;
      background-size: cover;
      background-blend-mode: screen;
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      border-top-left-radius: 3px;
      border-top-right-radius: 3px; }
      .card .side .picture-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../media/nat-5.jpg); }
      .card .side .picture-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../media/nat-6.jpg); }
      .card .side .picture-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../media/nat-7.jpg); }
    .card .side h4 {
      font-size: 2.8rem;
      font-weight: 300;
      text-transform: uppercase;
      text-align: right;
      color: #fff;
      position: absolute;
      top: 12rem;
      right: 2rem;
      width: 75%; }
    .card .side .heading-span {
      padding: 1rem 1.5rem;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone; }
      .card .side .heading-span-1 {
        background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
      .card .side .heading-span-2 {
        background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
      .card .side .heading-span-3 {
        background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
    .card .side .details {
      padding: 3rem;
      margin: 0 auto;
      list-style: none;
      width: 80%; }
      .card .side .details li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card .side .details li:not(:last-child) {
          border-bottom: 1px solid #eee; }
    .card .side .cta {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 90%;
      text-align: center;
      transform: translate(-50%, -50%); }
      .card .side .cta .price-box {
        text-align: center;
        color: #fff; }
        .card .side .cta .price-box .only {
          font-size: 1.4rem;
          text-transform: uppercase; }
        .card .side .cta .price-box .price {
          font-size: 6rem;
          font-weight: 100; }
  .card:hover .side-front {
    transform: rotateY(-180deg); }
  .card:hover .side-back {
    transform: rotateY(0); }

.composition {
  position: relative; }
  .composition .photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    outline-offset: 2rem;
    transition: all .2s; }
    .composition .photo:hover {
      outline: 1.5rem solid #55c57a;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition .p1 {
    left: 0;
    top: -2rem; }
  .composition .p2 {
    right: 0;
    top: 2rem; }
  .composition .p3 {
    left: 20%;
    top: 10rem; }
  .composition:hover .photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  height: 30rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  .feature-box .icon {
    font-size: 5rem;
    margin: 2rem 0;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  .story .shape {
    position: relative;
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg); }
    .story .shape .shape-img {
      height: 100%;
      backface-visibility: hidden;
      transform: translate(-4rem) scale(1.4);
      transition: all .5s; }
  .story figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    backface-visibility: hidden;
    transition: all .5s; }
  .story:hover figcaption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .shape-img {
    transform: translate(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }
  .story .story-txt {
    transform: skewX(12deg); }

.header {
  height: 95vh;
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../media/hero.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header .logo {
    display: block;
    position: absolute;
    top: 4rem;
    left: 4rem;
    height: 3.5rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }

.about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.features {
  padding: 20rem 0;
  margin-top: -10rem;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../media/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg); }
  .features > * {
    transform: skewY(7deg); }

.tours {
  margin-top: -10rem;
  padding: 25rem 0 10rem 0;
  background-color: #f7f7f7; }

.stories {
  padding: 15rem 0;
  position: relative; }
